*{
	margin: 0px;
	padding: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}

#page{
	margin: 0 auto;
	width: 1020px;
}

#header{

}

#toolbar{
	overflow: hidden;
	width: 100%;
}

#symbol{
	float: left;
	margin-top: 5px;
	margin-left: 25px;
}

#menu{
	
}

a{
	text-decoration: none;
	display: inline-block;
	color: black;
}

a:hover{
	color: #F15BFF;
}

.box{
	width: 175px;
	margin-top: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
	text-align: center;
	background-color: #BB6BC1;
	font-size: 18px;
}

.box:hover{
	background-color: #D7AFDA;
}

#main{
	margin-top: 5px;
	margin-left: 30px;
	width: 960px;
}

.assignments_tab{
	margin: 0px;
	width: 920px;
	height: 350px;
	padding-top: 130px;
	padding-left: 100px;
	color: #F15BFF;
	font-size: 32px;
	background-image: url('border_new.png');
}

.assignments_list{
	padding-top: 20px;
	color: black;
	font-size: 20px;
	line-height: 30px;
}

#footer{
	width: 1040px;
	margin-top: 400px;
	margin-bottom: 150px;
	padding-left: 200px;
	color: white;
	line-height: 30px;
}